*{
    margin: 0;
    padding: 0;
    
}

body{
    width: 100%;
    overflow: scroll;
	overflow-x: hidden;
}

.kakusu{
    overflow-x: hidden;
    width: 100vw;
}

h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 70px;
    letter-spacing: 5px;
    margin-bottom: -15px;
}

h2{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
}

h1,h2{
    color: #C2302A;
    font-style: italic;
    margin-left: 70px;
}

nav a{
    text-decoration: none;
    color: #F7F1F0;
}


#top{
    background-image: url(img/top_bg_re.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

nav{
    background-color: #403E3E;  
    position: sticky;
    top: 0;
    z-index: 5;
}

nav ul{
    display: flex;
    right: 20px;
    margin-left: 685px;

}

nav li{
    list-style: none;
    color: #F7F1F0;
    margin: 20px 0;
    font-size: 24px;
    padding: 0 30px;
    border-left:solid #F7F1F0 ;
    
}

nav a{
    transition: 00.3s;
}

nav a:hover{
    color: #C2302A;
    letter-spacing: 0.1rem;
    
}

#about{
    background-color: #403E3E;
    z-index: -1;
    height: 700px;
}

#about p{
    text-align: center;
    font-size: 20px;
    line-height: 55px;
    font-weight: 700;
    color: #F7F1F0;
    padding: 90px;  
}

#about img{
    position: relative;
    top:-10px;
    width: 100vw;
    height: 85vh;
}

.about_content{
    position: relative;
    top:-610px;
    height: 100px;
}

.bg_text p{
    font-size: 250px !important;
    letter-spacing: 9% !important;
    font-family: 'Archivo Black', sans-serif !important; 
    opacity: 10%;
}

.bg_text{
    position: relative;
    top:-400px;
}

#carp
{
    background-color: #F7F1F0;
}

.carp_text{
    position: relative;
    height: 800px;
    transform:skew(-5deg,-5deg);
}

.carp_left{
    position: absolute;
    right: -600px;
    z-index: -2;
    
}

.carp_right{
    position: absolute;
    top:-190px;
    left: -30px;

}

.carp_text p{
    position: absolute;
    font-size: 20px;
    line-height: 50px;
    margin-left: 40px;
    margin-top: 80px;
    color: #403E3E;
    font-weight: 700;
    /* text-shadow:1px 1px 2px #afabab */
}

.carp_menu{
    display: flex;
    justify-content: center;
    position: relative;
}

.to_menu{
    margin: 30px 20px;
}

.carp_menu a{
    background: #C2302A;
    display: block;
    height: 220px;
}



.carp_menu p{
    font-size: 50px;
    position: absolute;
    font-family: 'Permanent Marker', cursive;
    font-style: italic;
    top:80px;
    margin-left: 100px;
    color: #C2302A;
    transition: 0.3s;
}

.carp_menu p span{
    font-size:20px;
    font-family: 'Permanent Marker', cursive;
    font-style: italic;
}

.carp_menu :hover img{
    opacity:0.5;
	transition:0.3s;
    text-align: center;
}

.carp_menu :hover p{
    color: #F7F1F0;
    transition: 0.3s;
}

.carp_menu img{
    transition: 0.3s;
    
}

.let_text{
    margin-top: 80px;
    margin-bottom: 80px;
    color: #403E3E;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 60px;
}

#let{
    background-color: #E8E6E4;
    height: 1430px;
    margin-bottom: -60px;

}

.seat{
    background-color: #E8E6E4;
    height: 400px;
}


.seat{
    display: flex;
    margin-top: 200px;
}

.oneseat{
    text-align: center;
    width: 31%;
}

.seatname{
    color: #C2302A;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    

}

.seattext{
    font-size: 13px;
    line-height: 20px;
    width: 500px;
    text-align: left;
    margin: 0 30px;

}

.seatintro{
    display: flex;
    align-items: center;
}


.sankaku_ue{
    position: absolute;
    top: 2889px;
    left: 0px;
    height: 400px;
    width: 100vw;
}

.sankaku_sita{
    position: absolute;
    top: 3809px;
    left: 0px;
    height: 400px;
    width: 100vw;
}

/* ここからグッズのページ */

.goods_content_right{
    position: relative;
}



#goods_main{
    
    background-color: #403E3E;
    background-image: url(img/p0519_m\ 1.png);
    height: 2375px;
    margin-bottom: -60px;
}

.marker_left{
    position: relative;
    left: -810px;
    bottom: 30px;
}

.marker_right{
    position: relative;
    left: 0px;
    bottom: 30px;
}


.goods_content_left{
    display: flex;
    top:100px;
    height: 500px;
    left: 440px;
    z-index: auto;
    position: relative;

}


.goods_content_right{
    position: relative;
    display: flex;
    top:100px;
    height: 530px;
    left: 600px;
    z-index: auto;
}

.goods_content_text{
    position: absolute;
    width: 400px;
    margin-top: 200px;
    left: -210px;
}

.goods_content_text2{
    position: absolute;
    width: 400px;
    margin-top: 200px;
    left: 210px;
}


.photo_right{
    transform: rotate(10deg);
    filter: drop-shadow(8px 8px #afabab);   
    width: 380px;
    position: absolute;
    left: 260px;
}

.photo_left{
    transform: rotate(-10deg);
    filter: drop-shadow(8px 8px #afabab);   
    width: 380px;
    position: absolute;
    left: -260px;
}

.goods_content_left a{
    text-decoration: none;
    color: #F7F1F0;
    margin-top: 20px;
}

#goods_main p{
    color: #F7F1F0;
    font-size: 14px;
    width: 380px;
    
}




.productname{
    position: absolute;
    font-size: 35px !important;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 10px;
    top:-60px
}


.productname2{
    position: absolute;
    font-size: 35px !important;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 10px;
    top: -55px;
}

.productname  span{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 0px;
}

.productname2 span{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 0px;
}


.toilet{
    margin-bottom: -30px !important;
    position: absolute;
    top: -100px;
    font-size: 30px !important;
}



/* 購入はこちらのボタン */
.btnlinestretches2{
    /*線の基点とするためrelativeを指定*/
	position:relative;
    /*ボタンの形状*/  
	color:#F7F1F0;
    padding: 5px 20px;
	display:inline-block;
    text-decoration: none;
    outline: none;
}

/*線の設定*/
.btnlinestretches2::before,
.btnlinestretches2::after {
	content:'';
    /*絶対配置で線の位置を決める*/
	position:absolute;
    /*事前に出現させる線の形状*/
	border:solid #F7F1F0;
	width:10px;
	height:10px;
    /*アニメーションの指定*/
	transition:all 0.3s ease-in-out;
    border-radius: 2px;
}

.btnlinestretches2::before{
    /*事前に出現させる線の位置*/
	top:0;
	left:0;
    /*事前に出現させる線の形状*/
	border-width:2px 0 0 2px;
}

.btnlinestretches2::after{
    /*事前に出現させる線の位置*/
	bottom:0;
	right:0;
    /*事前に出現させる線の形状*/
	border-width:0 2px 2px 0;
}

/*hoverした際の線の形状*/
.btnlinestretches2:hover::before,
.btnlinestretches2:hover::after{
	width:calc(100% - 2px);
	height:calc(100% - 2px);
	border-color:#F7F1F0
}


#wrap {
    width: 0;
    height: 180px;
    overflow: hidden;
    transition: 1000ms linear;
}
#wrap.is-show {
    width: 320px;
}




/* ここからゲーム */


#game_main{
    background-color: #403E3E;
    background-image: url(img/kousi.png);
    height: 2800px;
    margin-bottom: -60px;
}

#game_main p{
    color: #F7F1F0;
    line-height: 180%;
}

.game_content{
    margin-top: 250px;
}

.game_comidasi{
    position: relative;
}

.game_comidasi_2{
    position: relative;
    left: 1000px;
}

.tategaki{
    font-size: 24px;
    font-weight: 700;
    line-height: 150% !important;
    position: absolute;
    left: 195px;
}

.game_marker{
    position: absolute;
    top: 160px;
    left: 120px;
    z-index: 3;
}

.game_photo{
    position: relative;
    left: 240px;
    top: 100px;
    z-index: 2;
}

.game_photo_2{
    position: relative;
    left: 727px;
    top: 100px;
    z-index: 2;
}

.game_content{
    display: flex;
}

.game_content_text{
    background-image: url(img/game_bg.png);
    background-size: cover;
    height: 360px;
    width: 900px;
    position: absolute;
    right: 0;
}

.game_content_text_2{
    background-image: url(img/game_bg.png);
    background-size: cover;
    height: 360px;
    width: 900px;
    position: absolute;
    left: 0;
}


.count{
    position: absolute;
    font-size: 80px;
    font-style: italic;
    font-family: 'Permanent Marker', cursive;
    opacity: 0.3;
    letter-spacing: 10px;
    left: 140px;
}

.count_2{
    position: absolute;
    font-size: 80px;
    font-style: italic;
    font-family: 'Permanent Marker', cursive;
    opacity: 0.3;
    letter-spacing: 10px;
    left: 10px;
}

.game_content_bottum{
    margin-left: 180px;
    margin-top: 50px;
    margin-right: 50px;
}

.game_content_bottum_2{
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 200px;
}

.gamename{
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
}

.score{
    font-size: 16px;
    margin: 25px 0;
}

.date{
    font-size: 12px;
    text-align: right;
    margin-top: -8px;
}


.element {
    /* 最初は非表示 */
    opacity: 0;
    visibility: hidden;
    transform: translateY(30px);
    transition: opacity 1s, visibility 1s, transform 1s;
 }
  /* フェードイン時に入るクラス */
  .is-fadein {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

.game_header{
    margin-bottom: 100px;
}
  

/* ここから選手紹介 */

#player_main{
    height: 2242px;
    background-color: #403E3E;
    margin-bottom: -60px;
    
}

.one_player{
    background-color: #F7F1F0;
    width: 600px;
    margin: 30px 20px;
    position: relative;
    height: 285px;
    padding: 20px;

}

.playernumber{
    color: #C2302A;
    font-size: 50px;
    font-weight: 900;
    font-style: italic;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    top:10px;
}

.playername{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    color: #C2302A;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    position: absolute;
    top:10px;
    left: 325px;
    width: 338px;
    letter-spacing: 4px;
    text-align: left;
}

.playerhistory{
    font-weight: 14px;
    position: absolute;
    top: 200px;
    left: 330px;
    text-align: left;
}

.players{
    display: flex;
    justify-content: center;
}

.sample_box{
    width:300px;
    position: absolute;
    top: 65px;
    left: 50px;
    background-image: url(img/kemuri.png);
   }
   .sample_box img{
    transition:1s all;
    width: 180px;
    filter: drop-shadow(8px 0px 3px #afabab); 

   }
   .sample_box img:hover{
     transform:scale(1.1,1.1);
     transition:1s all;
   }
   

   .slider{
    margin: 150px 0;
   }

   /* スライダー改訂 */
   .slider img{
    width: 250px;
    padding-right: 30px;
    margin: 15px;
   }

/*-----------height調整----------*/
.slick-slide{
	height:auto!important;
    margin-right: 1vw!important;
    margin-left: 1vw!important;
}
/*------------------------------*/


/*-----------矢印表示----------*/
.slick-next{
    right:0!important;
}
.slick-prev{
    left:0!important;
}
.slick-arrow{
    width: initial!important;
    height: initial!important;
    z-index:2!important;
}
.slick-arrow:before{
    font-size: 30px!important;
}
/*------------------------------*/

.slider_content{
    display: flex !important;
    background-color: #403E3E;
    height: 250px;
    align-items: center;
}

.slider_text{
    color: #F7F1F0;
    font-size: 14px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
}

.slider_text p{
    margin-top: 10px;
}

.studium_name{
    font-style: italic;
    font-weight: 700;
    font-size: 19px !important;
}

.mypattern .slick-slide:not(.slick-center) {
    -webkit-filter: opacity(20%);
    -moz-filter: opacity(20%);
    -o-filter: opacity(20%);
    -ms-filter: opacity(20%);
    filter: opacity(20%);
    transition: 0.2s linear;
}

#overlay{
    display: none;
}  
#overlay-input{
  display: none;
}


header {
	position: relative;
	
}
svg {
    position: relative;
    bottom: -6px;
	width: 100%;
	height: 100px;
	fill: #C2302A;
    margin-top: -83px;
}
section {
	background: #C2302A;
    text-align: center;
    padding-bottom: 30px;
}

section a{
    color: #E8E6E4;
    text-decoration: none;
    border-bottom: 1px solid #E8E6E4;
    padding-bottom: 5px;
}

.sp_br{
    display: none;
}



#splash {
    /*fixedで全面に固定*/
      position: fixed;
      width: 100%;
      height: 80%;
      z-index: 999;
      text-align:center;
    }
    
    /* Loading画像中央配置　*/
    #splash_logo {
      position: absolute;
      top: 660px;
      left: 50%;
      width: 100vw;
      height: 100vw;
      transform: translate(-50%, -50%);
    }
    
    /* Loading アイコンの大きさ設定　*/
    #splash_logo img{

    }
  
    /* fadeUpをするアイコンの動き */
    .fadeUp{
    animation-name: fadeUpAnime;
    animation-duration:0.5s;
    animation-fill-mode:forwards;
    opacity: 0;
    }
    

    #splash_sp{
        display: none;
    }



    @keyframes fadeUpAnime{
      from {
        opacity: 0;
      transform: translateY(100px);
      }
    
      to {
        opacity: 1;
      transform: translateY(0);
      }
    }





/* ここからレスポンシブ */
@media
 screen and (max-width: 480px) {
    /* ここからプレイヤー */
    .players{
        display: block;
    }

    .one_player{
        width: 280px;
        height: 150px;
        margin: 0 auto;
    }

    .playernumber{
        font-size: 30px;
    }

    .playername{
        font-size: 24px;
    }

    .one_player img{
        width: 100px;
    }

    .sample_box{
        left: -75px;
    }

    .playername{
        font-size: 22px;
        left: 155px;
        top: 25px;
    }

    .playerhistory{
        font-size: 10px;
        position: relative;
        top: 90px;
        left: 135px;
    }

    /* ここからグッズ */
    .photo_right{
        width: 220px;
        left: -296px;
        filter: drop-shadow(3px 3px #afabab);
    }

    .photo_left{
        left: -580px;
        width: 220px;
        filter: drop-shadow(3px 3px #afabab);
    }
      


    .productname{
        font-size: 18px !important; 
        position: relative;
        top: -10px;
    }

    .productname span{
        font-size: 12px;
    }

    .goods_content_text{
        left: -400px;
        margin-top: 210px;
    }

    #goods_main p{
        font-size: 14px;
        width: 280px;
    }

    .marker_left {
        position: relative;
        left: -990px;
        bottom: -33px;
    }

    .goods_content_text2{
        margin-top: 300px;
        left: -500px;
    }

    .productname2{
        top: -65px;
    }

    .toilet{
        top: -32px !important;
        margin-bottom: 10px;
    }

    .midasi{
        height: 0px;
    }

    .tt{
        margin-top: 60px;
    }

    /* ここからゲーム */

    .game_content{
        margin-bottom: 400px;
    }
    .game_content_text{
        height: 315px;
        width: 300px;
    }

    .game_content_text_2{
        height: 315px;
        width: 300px;
    }

    .game_content_bottum {
        margin-left: 15px;
        margin-top: 17px;
        margin-right: 15px;
    }

    .game_content_bottum_2{
        margin-left: 15px;
        margin-top: 17px;
        margin-right: 15px;
    }

    .count{
        left: 10px;
        font-size: 20px !important;
    }


    .count_2{
        left: 10px;
        font-size: 20px !important;
    }

    .game_content_text p{
        margin-top: 2px;
        font-size: 12px
    }

    .game_content_text_2 p{
        margin-top: 2px;
        font-size: 12px
    }

    .game_photo{
        width: 300px;
        left: 0;
        top: 270px;
    }

    .game_photo_2{
        width: 300px;
        left: 89px;
        top: 291px;
    }

    .game_marker {
        top: 311px;
        left: 19px;
        width: 65px;
    }

    .tategaki{
        font-size: 20px;
        left: 41px;
        top: 188px;
        z-index: 3;
    }

    .komidasi2{
        left: 276px;
    }

    /* ここからトップ */
    h1{
        font-size: 50px;
    }

    h1,h2{
        margin-left: -110px;
    }

    
    #about p{
        font-size: 14px;
        line-height: 40px;
        padding: 18px;
    }

    .bg_basseball{
        display: none;
    }

    .carp_text p{
        font-size: 14px;
        line-height: 35px;
    }
    .carp_left {
        width: 233vw;
        left: -189px;
        top: 71px;
    }

  

    .carp_menu{
        display: block;
    }

    .carp_menu p{
        top: -160px;
        position: relative;
    }

    .carp_menu{
        height: 820px;
    }

    .sankaku_ue{
        top: 3577px;
    }

    .sankaku_sita{
        top: 4395px;
        left: 0px;
    }

    .to_menu{
        text-align: center;
    }

    .to_menu p{
        margin: 0px;
        text-decoration: none;
    }
    
    .carp_menu p span{
        position: relative;
    }

    .let_text{
        font-size: 14px;
    }

    .seat{
        display: block;
    }

    .oneseat{
        width: 85%;
        margin: 0 auto;
    }

    .seattext{
        margin: 30px 10px;
    }

    #let{
        height: 2000px;
    }



    .player_header::before{
        bottom: -180px;
    }

    .goods_header::before{
        bottom: -230px;
    }

    .game_header::before{
        bottom: -450px;
    }

 

    #player_main {
        height: 2265px;

    }

    .one_player{
        margin: 10px auto;
    }
    #game_main {
        height: 2860px;
    }

    #overlay-button{
        display: none;
    }

    @keyframes bugfix {
        from {
          padding: 0;
        }
        to {
          padding: 0;
        }
      }
      @-webkit-keyframes bugfix {
        from {
          padding: 0;
        }
        to {
          padding: 0;
        }
      }
      #overlay-button {
        position: absolute;
        right: 2em;
        top: 3em;
        padding: 26px 11px;
        z-index: 5;
        cursor: pointer;
        user-select: none;
      }
      #overlay-button span {
        height: 3px;
        width: 35px;
        border-radius: 0px;
        background-color: white;
        position: relative;
        display: block;
        transition: all .2s ease-in-out;
      }
      #overlay-button span:before {
        top: -10px;
        visibility: visible;
      }
      #overlay-button span:after {
        top: 10px;
      }
      #overlay-button span:before, #overlay-button span:after {
        height: 3px;
        width: 35px;
        border-radius: 0px;
        background-color: white;
        position: absolute;
        content: "";
        transition: all .2s ease-in-out;
      }
      #overlay-button:hover span, #overlay-button:hover span:before, #overlay-button:hover span:after {
        background: #fff;
      }
      
      input[type=checkbox] {
        display: none; 
        
      }
      
      input[type=checkbox]:checked ~ #overlay {
        visibility: visible; 
      }
      
      input[type=checkbox]:checked ~ #overlay-button:hover span, input[type=checkbox]:checked ~ #overlay-button span {
        background: transparent;
        
        
      }
      input[type=checkbox]:checked ~ #overlay-button span:before {
        transform: rotate(45deg) translate(7px, 7px);
      
      }
      input[type=checkbox]:checked ~ #overlay-button span:after {
        transform: rotate(-45deg) translate(7px, -7px);
      
      
      }
      
      #overlay {
        height: 100vh;
        width: 100vw;
        background: linear-gradient(#403E3E, #0D0C0C);
        z-index: 2;
        visibility: hidden;
        position: fixed;
      }
      #overlay.active {
      
      }
      #overlay ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        height: 100vh;
        padding-left: 0;
        list-style-type: none;
      }
      #overlay ul li {
        padding: 1em;
      }
      #overlay ul li a {
    
        color: #C2302A;
        text-decoration: none;
    
      }
      #overlay ul li a:hover {
        color: #000!important;
      }

      .pc_nav{
        display: none;
      }

      #overlay{
        display: block;
    }  
    
  

    #overlay-button{
        display: block;
    }

    #overlay a{
        font-family: 'Permanent Marker', cursive;
        font-style: italic;
        
        font-size: 20px;
    }

    .pc_br{
        display: none;
    }

    .sp_br{
        display: block;
    }

    .slider{
        margin: 150px 0;
       }
    
       /* スライダー改訂 */
       .slider img{
        width: 190px;
       }
    
    /*-----------height調整----------*/
    .slick-slide{
        height:auto!important;
        margin-right: 1vw!important;
        margin-left: 1vw!important;
    }
    /*------------------------------*/
    
    
    .slider_content{
        display: block !important;
        background-color: #403E3E;
        height: 400px;
        align-items: center;
        padding-top: 10px;
    }
    
    .slider_text{
        color: #F7F1F0;
        font-size: 14px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: left;
    }

    
    .slider_text p{
        margin-top: 10px;
    }


    #splash{
        display: none;
    }

    #splash_sp{
        display: block;
    }
 }