*{
    margin: 0;
    padding: 0;
    
}

body{
    width: 100%;
    overflow: scroll;
	overflow-x: hidden;
}

h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 70px;
    letter-spacing: 5px;
    margin-bottom: -15px;
}

h2{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
}

h1,h2{
    color: #C2302A;
    font-style: italic;
    margin-left: 70px;
}

nav a{
    text-decoration: none;
    color: #F7F1F0;
}


#top{
    background-image: url(img/top_bg_re.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

nav{
    background-color: #403E3E;  
    position: sticky;
    top: 0;
    z-index: 5;
}

nav ul{
    display: flex;
    right: 20px;
    margin-left: 685px;

}

nav li{
    list-style: none;
    color: #F7F1F0;
    margin: 20px 0;
    font-size: 24px;
    padding: 0 30px;
    border-left:solid #F7F1F0 ;
    
}

nav a{
    transition: 00.3s;
}

nav a:hover{
    color: #C2302A;
    letter-spacing: 0.1rem;
    
}

#about{
    background-color: #403E3E;
    z-index: -1;
    height: 700px;
}

#about p{
    text-align: center;
    font-size: 20px;
    line-height: 55px;
    font-weight: 700;
    color: #F7F1F0;
    padding: 90px;  
}

#about img{
    position: relative;
    top:-10px;
    width: 100vw;
    height: 85vh;
}

.about_content{
    position: relative;
    top:-610px;
    height: 100px;
}

.bg_text p{
    font-size: 250px !important;
    letter-spacing: 9% !important;
    font-family: 'Archivo Black', sans-serif !important; 
    opacity: 10%;
}

.bg_text{
    position: relative;
    top:-400px;
}

#carp
{
    background-color: #F7F1F0;
}

.carp_text{
    position: relative;
    height: 800px;
    transform:skew(-5deg,-5deg);
}

.carp_left{
    position: absolute;
    right: -600px;
    z-index: -2;
}

.carp_right{
    position: absolute;
    top:-190px;
    left: -30px;

}

.carp_text p{
    position: absolute;
    font-size: 20px;
    line-height: 50px;
    margin-left: 40px;
    margin-top: 80px;
    color: #403E3E;
    font-weight: 400;
    text-shadow:1px 1px 2px #afabab
}

.carp_menu{
    display: flex;
    justify-content: center;
    position: relative;
}

.to_menu{
    margin: 30px 20px;
}

.carp_menu a{
    background: #C2302A;
    display: block;
    height: 225px;
}



.carp_menu p{
    font-size: 50px;
    position: absolute;
    font-family: 'Permanent Marker', cursive;
    font-style: italic;
    top:80px;
    margin-left: 100px;
    color: #C2302A;
    transition: 0.3s;
}

.carp_menu p span{
    font-size:20px;
    position: absolute;
    font-family: 'Permanent Marker', cursive;
    font-style: italic;
}

.carp_menu :hover img{
    opacity:0.5;
	transition:0.3s;
    text-align: center;
}

.carp_menu :hover p{
    color: #F7F1F0;
    transition: 0.3s;
}

.carp_menu img{
    transition: 0.3s;
    
}

.let_text{
    margin-top: 80px;
    margin-bottom: 80px;
    color: #403E3E;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 60px;
}


* {
    box-sizing: border-box;
  }
  .sliderArea {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 25px;
  }
  .sliderArea.w300 {
    max-width: 300px;
  }
  .slick-slide {
    margin: 0 5px;
  }
  .slick-slide img {
    width: 160px;
    height: auto;
  }
  .slick-prev, .slick-next {
    z-index: 1;
  }
 
  .slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
  }
  .slick-active {
    opacity: 1;
  }
  .slick-current {
    opacity: 1;
  }
  .thumb {
    margin: 20px 0 0;
  }
  .thumb .slick-slide {
    cursor: pointer;
  }
  .thumb .slick-slide:hover {
    opacity: .7;
  }
  
  /*====================================================================
  .full-screen
  ====================================================================*/
  
  .full-screen .slick-list {
    overflow: visible;
  }
  .full-screen.slider {
    max-width: 300px;
    margin: 0 auto;
  }
  
 
 .studium{
    display: flex !important;
    width: 500px !important;
 }

.seat{
    display: flex;
    margin-bottom: 100px;
}

.oneseat{
    text-align: center;
    width: 31%;
}

.seatname{
    color: #C2302A;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    

}

.seattext{
    font-size: 13px;
    line-height: 20px;
    width: 500px;
    text-align: left;
    margin: 0 30px;

}

.seatintro{
    display: flex;
    align-items: center;
}



.section1{
  position: relative;
 
  /*レイアウト用のCSS*/

}
.section1::before{
  content:"";
  position: absolute;
  bottom: -200px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
 
  /*ここで三角形のサイズを決める。
  必ず幅100vwにして、ブラウザサイズいっぱいにしてください。*/
  border-width: 0 0 130px 100vw ;
 
  border-color: transparent transparent #C2302A transparent;
}

.section2{
    text-align: center;
    position: relative;
    top: 58px;
    padding-bottom: 10px;
    
}

.section2 a{
    color: #F7F1F0;

}

.goods_content_right{
    position: relative;
}


/* ここからグッズのページ */
#goods_main{
    background-color: #403E3E;
    background-image: url(img/p0519_m\ 1.png);
    height: 2200px;
    z-index: ;
}

.marker_left{
    position: relative;
    left: -810px;
    bottom: 30px;
}

.marker_right{
    position: relative;
    left: 0px;
    bottom: 30px;
}


.goods_content_left{
    display: flex;
    top:100px;
    height: 500px;
    left: 440px;
    z-index: auto;
    position: relative;

}


.goods_content_right{
    position: relative;
    display: flex;
    top:100px;
    height: 530px;
    left: 600px;
    z-index: auto;
}

.goods_content_text{
    position: absolute;
    width: 400px;
    margin-top: 200px;
    left: -210px;
}

.goods_content_text2{
    position: absolute;
    width: 400px;
    margin-top: 200px;
    left: 210px;
}


.photo_right{
    transform: rotate(10deg);
    filter: drop-shadow(8px 8px #afabab);   
    width: 380px;
    position: absolute;
    left: 260px;
}

.photo_left{
    transform: rotate(-10deg);
    filter: drop-shadow(8px 8px #afabab);   
    width: 380px;
    position: absolute;
    left: -260px;
}

#goods_main a{
    text-decoration: none;
    color: #F7F1F0;
    margin-top: 20px;
}

#goods_main p{
    color: #F7F1F0;
    font-size: 14px;
    width: 380px;
    
}




.productname{
    position: absolute;
    font-size: 35px !important;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 10px;
    top:-60px
}


.productname2{
    position: absolute;
    font-size: 35px !important;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 10px;
    top: -55px;
}

.productname  span{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 0px;
}

.productname2 span{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 0px;
}


.toilet{
    margin-bottom: -30px !important;
    position: absolute;
    top: -100px;
    font-size: 30px !important;
}



/* 購入はこちらのボタン */
.btnlinestretches2{
    /*線の基点とするためrelativeを指定*/
	position:relative;
    /*ボタンの形状*/  
	color:#F7F1F0;
    padding: 5px 20px;
	display:inline-block;
    text-decoration: none;
    outline: none;
}

/*線の設定*/
.btnlinestretches2::before,
.btnlinestretches2::after {
	content:'';
    /*絶対配置で線の位置を決める*/
	position:absolute;
    /*事前に出現させる線の形状*/
	border:solid #F7F1F0;
	width:10px;
	height:10px;
    /*アニメーションの指定*/
	transition:all 0.3s ease-in-out;
    border-radius: 2px;
}

.btnlinestretches2::before{
    /*事前に出現させる線の位置*/
	top:0;
	left:0;
    /*事前に出現させる線の形状*/
	border-width:2px 0 0 2px;
}

.btnlinestretches2::after{
    /*事前に出現させる線の位置*/
	bottom:0;
	right:0;
    /*事前に出現させる線の形状*/
	border-width:0 2px 2px 0;
}

/*hoverした際の線の形状*/
.btnlinestretches2:hover::before,
.btnlinestretches2:hover::after{
	width:calc(100% - 2px);
	height:calc(100% - 2px);
	border-color:#F7F1F0
}


/* ここからゲーム */


#game_main{
    background-color: #403E3E;
    background-image: url(img/kousi.png);
    height: 2700px;
}

#game_main p{
    color: #F7F1F0;
    line-height: 180%;
}

.game_content{
    margin-top: 250px;
}

.game_comidasi{
    position: relative;
}

.game_comidasi_2{
    position: relative;
    left: 1000px;
}

.tategaki{
    font-size: 24px;
    font-weight: 700;
    line-height: 150% !important;
    position: absolute;
    left: 195px;
}

.game_marker{
    position: absolute;
    top: 160px;
    left: 120px;
    z-index: 3;
}

.game_photo{
    position: relative;
    left: 240px;
    top: 100px;
    z-index: 2;
}

.game_photo_2{
    position: relative;
    left: 727px;
    top: 100px;
    z-index: 2;
}

.game_content{
    display: flex;
}

.game_content_text{
    background-image: url(img/game_bg.png);
    background-size: cover;
    height: 360px;
    width: 900px;
    position: absolute;
    right: 0;
}

.game_content_text_2{
    background-image: url(img/game_bg.png);
    background-size: cover;
    height: 360px;
    width: 900px;
    position: absolute;
    left: 0;
}


.count{
    position: absolute;
    font-size: 80px;
    font-style: italic;
    font-family: 'Permanent Marker', cursive;
    opacity: 0.3;
    letter-spacing: 10px;
    left: 140px;
}

.count_2{
    position: absolute;
    font-size: 80px;
    font-style: italic;
    font-family: 'Permanent Marker', cursive;
    opacity: 0.3;
    letter-spacing: 10px;
    left: 10px;
}

.game_content_bottum{
    margin-left: 180px;
    margin-top: 50px;
    margin-right: 50px;
}

.game_content_bottum_2{
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 200px;
}

.gamename{
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
}

.score{
    font-size: 16px;
    margin: 25px 0;
}

.date{
    font-size: 12px;
    text-align: right;
    margin-top: -8px;
}


/* ここから選手紹介 */

#player_main{
    background-color: #403E3E;

}

.one_player{
    background-color: #F7F1F0;
    width: 600px;
    margin: 30px 20px;
    position: relative;
    height: 250px;
    padding: 20px;

}

.playernumber{
    color: #C2302A;
    font-size: 50px;
    font-weight: 900;
    font-style: italic;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    top:10px;
}

.playername{
    color: #C2302A;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    position: absolute;
    top:10px;
    left: 270px;
}

.playerhistory{
    font-weight: 14px;
    position: absolute;
    top: 200px;
    left: 270px;
}

.players{
    display: flex;
    justify-content: center;
}

.sample_box{
    width:300px;
    position: absolute;
    top: 65px;
    left: 50px;
   }
   .sample_box img{
    transition:1s all;
    width: 180px;
   }
   .sample_box img:hover{
     transform:scale(1.2,1.2);
     transition:1s all;
   }
   